{% extends '@EmsePlateform/layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}

<h1 class='text-light text-center bg-info '>bienvenue dans Advert</h1>
<h2 class='text-info text-center animated rollIn'> hello !!</h2>


<a href='{{ path('advert_home')}}'>
    <button class='btn btn-info'>Action</button>
</a>

{% endblock %}