{% extends '@EmsePlateform/layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}


<h2 class='text-info text-center '> site d'annonce !</h2>


{#<a href='{{ path('advert_home')}}'>#}
    {#<button class='btn btn-info'>Action</button>#}
{#</a>#}

{% endblock %}