<div class='row'>
    <div class='col-12'>
        <h1 class='text-light text-center animated bounceIn col-11'>Plateforme d'annonces</h1>
    </div>

</div>
<div class='row'>
    {#<div class='col-6'>#}
    {#<button class='btn btn-sm btn-secondary'>plus...</button>#}
    {#</div>#}
    <div class='col-6 offset-6 text-light text-right'><p>{{ 'now'|localizeddate('full', 'none') }}</p></div>
</div>